$('.watch-list').append(
  "<div id='movie-display'>\
    <div id='movie-title'><%=@new_movie.title%></div>\
      <img src=<%=@new_movie.poster_url%> alt='Movie Poster' class='movie-poster'>\
          <%=button_to 'Delete From List', movie_path(movie.id), data: {confirm: 'Are you sure?''}, :method => :delete, remote: true %>\
    </div>");