---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=<API_KEY>&t=alice%20in%20wonderland&y=1951
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 06 Nov 2017 07:40:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Alice in Wonderland","Year":"1951","Rated":"G","Released":"12
        Sep 1951","Runtime":"75 min","Genre":"Animation, Adventure, Family","Director":"Clyde
        Geronimi, Wilfred Jackson, Hamilton Luske","Writer":"Lewis Carroll (adaptation),
        Winston Hibler (story), Ted Sears (story), Bill Peet (story), Erdman Penner
        (story), Joe Rinaldi (story), Milt Banta (story), William Cottrell (story),
        Dick Kelsey (story), Joe Grant (story), Dick Huemer (story), Del Connell (story),
        Tom Oreb (story), John Walbridge (story)","Actors":"Kathryn Beaumont, Ed Wynn,
        Richard Haydn, Sterling Holloway","Plot":"Alice stumbles into the world of
        Wonderland. Will she get home? Not if the Queen of Hearts has her way.","Language":"English","Country":"USA","Awards":"Nominated
        for 1 Oscar. Another 1 nomination.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BMTgyMjM2NTAxMF5BMl5BanBnXkFtZTgwNjU1NDc2MTE@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.4/10"},{"Source":"Rotten Tomatoes","Value":"79%"}],"Metascore":"N/A","imdbRating":"7.4","imdbVotes":"105,358","imdbID":"tt0043274","Type":"movie","DVD":"01
        Feb 2011","BoxOffice":"N/A","Production":"Film Chest","Website":"N/A","Response":"True"}'
  recorded_at: Mon, 06 Nov 2017 07:54:18 GMT
recorded_with: VCR 3.0.3
