---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=<API_KEY>&t=alice%20in%20wonderland&y=2010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 06 Nov 2017 07:51:47 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Alice in Wonderland","Year":"2010","Rated":"PG","Released":"05
        Mar 2010","Runtime":"108 min","Genre":"Adventure, Family, Fantasy","Director":"Tim
        Burton","Writer":"Linda Woolverton (screenplay), Lewis Carroll (books)","Actors":"Johnny
        Depp, Mia Wasikowska, Helena Bonham Carter, Anne Hathaway","Plot":"Nineteen-year-old
        Alice returns to the magical world from her childhood adventure, where she
        reunites with her old friends and learns of her true destiny: to end the Red
        Queen''s reign of terror.","Language":"English","Country":"USA","Awards":"Won
        2 Oscars. Another 32 wins & 63 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BMTMwNjAxMTc0Nl5BMl5BanBnXkFtZTcwODc3ODk5Mg@@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"6.5/10"},{"Source":"Rotten Tomatoes","Value":"52%"},{"Source":"Metacritic","Value":"53/100"}],"Metascore":"53","imdbRating":"6.5","imdbVotes":"332,817","imdbID":"tt1014759","Type":"movie","DVD":"01
        Jun 2010","BoxOffice":"$319,323,000","Production":"Walt Disney Pictures","Website":"http://disney.go.com/disneypictures/aliceinwonderland/","Response":"True"}'
  recorded_at: Mon, 06 Nov 2017 07:54:18 GMT
recorded_with: VCR 3.0.3
