---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=<API_KEY>&t=chinatown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 06 Nov 2017 07:23:30 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Chinatown","Year":"1974","Rated":"R","Released":"20 Jun 1974","Runtime":"130
        min","Genre":"Drama, Mystery, Thriller","Director":"Roman Polanski","Writer":"Robert
        Towne","Actors":"Jack Nicholson, Faye Dunaway, John Huston, Perry Lopez","Plot":"A
        private detective hired to expose an adulterer finds himself caught up in
        a web of deceit, corruption, and murder.","Language":"English, Cantonese,
        Spanish","Country":"USA","Awards":"Won 1 Oscar. Another 20 wins & 24 nominations.","Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BYWRkNGJhMmEtMWM3Ni00MDc3LThhMTQtMWI2OTMxYmE5MTZhXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.2/10"},{"Source":"Rotten Tomatoes","Value":"98%"},{"Source":"Metacritic","Value":"86/100"}],"Metascore":"86","imdbRating":"8.2","imdbVotes":"238,347","imdbID":"tt0071315","Type":"movie","DVD":"23
        Nov 1999","BoxOffice":"N/A","Production":"Paramount Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Mon, 06 Nov 2017 07:54:18 GMT
recorded_with: VCR 3.0.3
