  <h3>Your search returned these films:</h3>
  <% if @movie_array.present? %>
    <% @movie_array.each do |movie| %>
      <%= movie.title %> <br>
    <% end %>
  <% else %>
    Your search returned no movies. Sad Panda.
  <% end %>