<h2>Send your Watch List to your smart phone!</h2>

<%= form_tag(user_path(current_user), method: :get, class: "search-form") do %>
  <%= text_field_tag :number, nil, placeholder: 'Ex: 5551234567' %>
  <%= submit_tag 'Send' %>
<% end %>