  
  <div id="logo-wrapper">
    <div id="logo">
      <svg viewBox="0 0 960 200">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="80%">WatchNext</text>
        </symbol>

        <g class = "g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>

      <!-- <h1>WatchNext</h1> -->
      <button class="btn blue">Login</button>
      <button class="btn red">Demo</button>
       
      <div class="login-form">
        <%= render 'sessions/form' %>
      </div>

      <div class="demo-form">
        <%= render 'sessions/demo' %>
      </div>

    </div>
  </div>
  <div id="about-button">
    <button class="btn black">About</button>
  </div>

  <div id="about">
    <h2>WatchNext will help you eliminate the time spent surfing Netflix and Hulu and get to what matters most - watching films!</h2>


  <h3>With WatchNext you can: </h3>
  <p>Add and delete movies from a watch list with ease</p>
  <p>Send your watch list to your phone via SMS messaging</p>
  <p>Search specific parameters to filter through movies in your watch list</p>
  <div class="grid-wrapper">
    <div class="box header">Your search paramters are:
    </div>
    <div class="box content-1">
      <div class="heading">Runtime</div><div class="details">How many minutes do you have? Punch in the maximum length you want your movie to be!</div>
    </div>
    <div class="box content-2">
      <div class="heading">Genre</div><div class="details">Can't decide between an action thriller or a rom-com? Include it in your search!</div>
    </div>
    <div class="box content-3">
      <div class="heading">Decade</div><div class="details">Do you have a thing for 90's indie films or the 70's New Hollywood movment? Filter your movies by decade!</div>
    </div>
    <div class="box content-4">
      <div class="heading">Actors</div><div class="details">Are you on a mission to see every movie starring Daniel Day-Lewis? This feature will help!</div>
    </div>
    <div class="box content-5">
      <div class="heading">Director</div><div class="details">Not sure which Stanley Kubrick or Richard Linklater film to watch? Include their name in your search!</div>
    </div>
    <div class="box content-6">
      <div class="heading">Rotten Tomatoes Score</div><div class="details">Looking to watch something critically acclaimed? Filter your movies by their RT score!</div>
    </div>
</div>
  <h4>Log in with the demo account:</h4>
  <p><strong>Login: </strong>demo@demo.com</p>
  <p><strong>Password: </strong>demo</p>
  </div>