<h1>WatchNext</h1>

<p>WatchNext will help you eliminate the time spent surfing Netflix and Hulu and get to what matters most - watching films!</p>

<h3>With WatchNext you can: </h3>
<p>Add and delete movies from a watch list with ease</p>
<p>Search specific parameters to filter through movies in your watch list</p>
<p>Those search parameters include:</p>
  <li>Runtime</li>
  <li>Genre</li>
  <li>Decade</li>
  <li>Actors</li>
  <li>Director</li>
  <li>Awards</li>
  <li>Rotten Tomatoes Score</li>

<h4>Log in with the demo account:</h4>
<p><strong>Login: </strong>haha@haha.com</p>
<p><strong>Password: </strong>haha</p>
