
  $('.returned-movies').empty();
  $('.returned-movies').find('.movie-display').remove()
  $('.returned-movies').find('h3').remove()

  $('.returned-movies').append(
    "<h3>Your search returned these films:</h3>\
    <% if @movie_array.present? %>\
      <% @movie_array.each do |movie| %>\
      <div class='movie-display'>\
        <div id='movie-title'><%= movie.title %></div>\
        <img src=<%=movie.poster_url%> alt='Movie Poster' class='movie-poster'>\
        </div>\
      <%end%>\
    <%else%>\
      Your search returned no movies. Sad Panda.\
    <%end%>")
$('.watch-movie-form form')[0].reset();
