// This file is only for the big, colorful buttons.
// All other button-related SCSS (such as submit buttons regarding movie searches)
// will be found in the "movies.scss" page.


$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif; // the Netflix font
$font-secondary: 'Londrina Solid', cursive;

$color-background: #456990; // slightly lighter blue-ish
$color-nav: #114B5F; // nav-bar color
$color-font-primary: #E4FDE1; // the lime-yellow color

$button-color-blue: #55acee;
$button-color-blue-shadow: #3C93D5;
$button-color-blue-hover: #6FC6FF;

$button-color-red: #F45B69;
$button-color-red-shadow: #EA4866;
$button-color-red-hover: #fccfd3;


.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  font-family: $font-secondary;
  text-decoration: none;
  margin: 20px;
  color: black;
  position: relative;
  display: inline-block;
  &:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
}

.blue {
  background-color: $button-color-blue;
  box-shadow: 0px 5px 0px 0px $button-color-blue-shadow;
  &:hover {
    background-color: $button-color-blue-hover;
  }
}

.red {
  background-color: $button-color-red;
  box-shadow: 0px 5px 0px 0px $button-color-red-shadow;
  &:hover {
    background-color: $button-color-red-hover;
  }
}

.black {
  color: white;
  background-color: black;
  box-shadow: 0px 5px 0px 0px white;
  &:hover {
    background-color: gray;
  }
}

#about-button {
  text-align: center;
}

.delete_button {
  padding: 0;
  color: $button-color-red;
  float: right;
  top: 0;
  left: 0;
  font-size: 1em;
}

