$color-background: #444;

@mixin gridly {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  color: $color-background;
}

@mixin boxly {
  background-color: $color-background;
  border-radius: 5px;
  padding: 20px;
}

.grid-wrapper {
  @include gridly;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:  "header header header"
                        "main main main"
                        "main main main";
  
}

.opening-grid-wrapper {
  @include gridly;
  grid-template-columns: repeat(3,350px);
  grid-template-areas:  "a a a"
                        "b b b"
                        "c d e";
  margin-bottom: 20px;
}

.box {
  background-color: $color-background;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}

.heading {
  color: #ff7043;
  text-align: center;
  font-size: 1.4em;
}

%header {
  @include boxly;
    text-align: center;
    color: #ffd600;
    font-size: 1.4em;
}

.header {
  &-opening-1 { 
    grid-area: a;
    @extend %header;
  }
  &-opening-2 { 
    grid-area: b;
    @extend %header;
  }
  &-opening-3 { 
    grid-area: header;
    @extend %header;
  }  
}

.content-1 {
  grid-area: "main";
}

.content-2 {
  grid-area: "main";
}

.content-3 {
  grid-area: "main";
}

.content-4 {
  grid-area: "main";
}

.content-5 {
  grid-area: "main";
}

.content-6 {
  grid-area: "main";
}

/*Flexbox css*/

%flexbox {
  display: flex;
  flex-direction: row;
  background-color: $color-background;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.opening {
  &-1 {
    @extend %flexbox;
    grid-area: c;
  }
  &-2 {
    @extend %flexbox;
    grid-area: d;
  }
  &-3 {
    @extend %flexbox;
    grid-area: e;
  }
}

// .opening-1 {
//   grid-area: c;
// /*  grid-column: col;
//   grid-row: row 3;*/
//   text-align: center;
//   padding-left: 10px;
//   padding-right: 10px;
//   padding-top: 10px;
//   padding-bottom: 10px;
// }

// .opening-2 {
//     grid-area: d;
// /*  grid-column: col 2;
//   grid-row: row 3;*/
//   text-align: center;
//   padding-left: 10px;
//   padding-right: 10px;
//   padding-top: 10px;
//   padding-bottom: 10px;
// }

// .opening-3 {
//     grid-area: e;
// /*  grid-column: col 3;
//   grid-row: row 3;*/
//   text-align: center;
//   padding-left: 10px;
//   padding-right: 10px;
//   padding-top: 10px;
//   padding-bottom: 10px;
// }



.opening-content {
  text-align: left;
  display: inline-block;
  margin-left: 8%;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  display: inline-block;
  width: 30%;
  height: 100%;
  font-size: 15px;

  padding-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.fa-mobile-phone:before, .fa-mobile:before {
    content: "\f10b";
    font-size: 1.25em;
}

.liner {
  display: inline-block;
  border-right: 1px solid white;
  height: 100%;
  width: 1%;
}