// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif; // the Netflix font
$font-secondary: 'Londrina Solid', cursive;
$highlight-color: #ffd600;

#hello-user {
  font-family: $font-secondary;
  text-align: center;
}

.watch-list {
  overflow: hidden;
  text-align: center;
  width: 100%;
  font-family: $font-primary;
  display: flex;
  justify-content: center;
}

.movie-display {
  background-color: gray;
  height: 290px;
  flex-shrink: 0;
  width: 200px;
  margin: 5px;
  float: left;
}

#movie-title {
  font-family: $font-secondary;
  padding: 5px;
  /*white-space: nowrap;*/
  font-size: 1em;
  height: 20px;
}

#watch-list-heading {
  text-align: center;
}

#twilio-form {
  text-align: center;
}

/*Search Form*/

#movie-search-form {
  display: flex;
  justify-content: center;
  > form {
    padding: .83em;
    margin-left: 1em;  
  }
}

#returned-movies {
  overflow: auto;
  text-align: center;
}

.movie-case {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
}

%search-form {
  height: 30px;
  font-size: 1em;
}

.search-form {
  > input { @extend %search-form;}
  > select { @extend %search-form;}
  > label { @extend %search-form;}
}

.search-form.advanced {
  display: none;
}

#advanced-search {
  color: #0000EE;
  text-decoration: underline #0000EE;
  cursor: pointer;
}

#watch-movie-form {
  padding-bottom: 40px;
  > h2 { text-align: center;}
}

#filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
}

#filter-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  > input { width: 10%;}
}

.movie-poster {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  max-width: 80%;
  max-height: 70%;
}

#button-wrapper {
  display: flex;
  justify-content: space-around;
}

@-webkit-keyframes yellow-fade {
   0% {background: $highlight-color;}
   100% {background: none;}
}
@keyframes yellow-fade {
   0% {background: $highlight-color;}
   100% {background: none;}
}

.highlight {
   -webkit-animation: yellow-fade 2s ease-in 1;
   animation: yellow-fade 2s ease-in 1;
}